<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title> {% block title %}NAF Hospitals{% endblock  %}  </title>
  {% include 'links1.html' %}
  {% block links %}{% endblock  %}
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<!-- Site wrapper -->
<div class="wrapper">
  <!-- Navbar -->
{% include 'navbar1.html' %}
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
{% include 'aside.html' %}

  <!-- Content Wrapper. Contains page content -->
  {% block content-wrapper  %}{% endblock  %}
  

  {% include 'footer1.html' %}
<!-- ./wrapper -->

{% include 'scripts1.html' %}
{% block scripts %}{% endblock  %}
</body>
</html>
