<div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <h4>Dashboard</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 mb-3">
        <div class="card bg-dark text-white h-100">
          <div class="card-body text-center">Total Number of Patient</div>
         
        </div>
      </div>
      <div class="col-md-3 mb-3">
        <div class="card bg-dark text-white h-100">
          <div class="card-body text-center"> Patients On Appointment</div>
          
        </div>
      </div>
      <div class="col-md-3 mb-3">
        <div class="card bg-dark text-white h-100">
          <div class="card-body text-center">Patient Summary</div>
          
        </div>
      </div>
      <div class="col-md-3 mb-3">
        <div class="card bg-dark text-white h-100">
          <div class="card-body text-center">Number of doctors</div>
          
        </div>
      </div>
    </div>